
body{
  background-color: rgba(254, 255, 239, 0.5);
}

.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.wrapItem {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.holidayInfo{
  margin: 10px;
list-style-type: none;
  height: 100px;
  width: 200px;
  padding: 5px;
  background-color: cadetblue;
  cursor: pointer;
}

.modal__wrapper{
  position: absolute;
  bottom: 0;
  background-color: rgba(0,0,0,0.2);
  width: 100%;
  backdrop-filter: blur(18px);
}
.modal__wrapper.open{
  height: 100%;
  display: block;
}
.modal__wrapper.close{
  height: 0;
  display: none;
}
.modal__body{
  max-width: 500px;
  margin: auto;
  background: white;
  margin-top: 10%;
  padding: 20px;
}
.modal__close{
top: 10%;
  right: 25%;
  cursor: pointer;
  font-size: 25px;
  position: absolute;
  border-radius: 50%;
  background: azure;
  padding: 10px 20px;
}

.wrapItemModal{
  padding: 0;
}
.wrapItemModal li{
  list-style-type: none;
  font-size: 23px;
  margin-bottom: 10px;
}

form{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: normal;
}
input{
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #1d3f72;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 35px;
  background: transparent;
  font-weight: 600;
}
select{
  padding:9px;
  border-radius: 10px;
  border: 2px solid #1d3f72;
  margin-right: 100px;
  margin-left: 5px;
  background: transparent;
  font-weight: 600;
}

button{
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #1d3f72;
  width: 100px;
  margin: auto;
  cursor: pointer;
  background: transparent;
  font-weight: 600;
}
